<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token }}

    {{ form.author_name.label }}:
    <p>{{ form.author_name }}</p>

    {{ form.book_name.label }}:
    <p>{{ form.book_name }}</p>

    {{ form.submit }}

    <hr>


    {% for author in authors %}
        <li>{{ author.name }}<a href="/delete_author/{{ author.id }}">删除</a></li>
        <ul>
            {% for book in author.books %}
                {#  #}
                <li>{{ book.name }}<a href="/delete_book/{{ book.id }}">删除</a></li>
            {% endfor %}

        </ul>

    {% endfor %}



</form>

</body>
</html>